{% extends 'jones/base.html' %}
{% load static %}
{% block content %}


<div class="p-4 mb-5" style="background-color: #f9f9f9;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcumb-style1">
                    <div class="breadcumb-list">
                        <a href="{% url 'home' %}">Home</a>
                        <a href="javascript:void(0);">About Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Our About Area -->
<section class="our-about pb90">
    <div class="container">
        <div class="row wow fadeInUp" data-wow-delay="300ms">
            <div class="col-lg-6">
                <h2>At JAM, we are more than just a name we are a full-service property management
                    group that stands as a beacon of excellence in our local industry.</h2>
            </div>
            <div class="col-lg-6">
                <p class="text mb25">With a comprehensive range of services, we lead the way in Leasing, Renting,
                    Selling, and
                    expertly managing both residential and commercial properties. Our commitment to delivering
                    exceptional results and fostering enduring relationships sets us apart.</p>
                <p class="text mb55">Backed by a team of seasoned professionals, JAM brings a wealth of knowledge and
                    experience to every property endeavor. Whether you're seeking a new home, investing,
                    selling, or entrusting us with the management of your property, we are dedicated to
                    achieving your goals with precision and integrity.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="why-chose-list style3">
                    <div class="list-one mb30">
                        <div class="list-content flex-grow-1">
                            <h6 class="mb-1">Local Insights, Global Outlook</h6>
                            <p class="text mb-0 fz14">Local leader, global perspective. With an ear to local real estate trends and a grasp of international insights, we offer a competitive edge in the market.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="why-chose-list style3">
                    <div class="list-one mb30">
                        <div class="list-content flex-grow-1">
                            <h6 class="mb-1">Your Journey, Our Priority</h6>
                            <p class="text mb-0 fz14">Whether you own or rent, JAM guides your real estate journey, optimizing property value and fulfilling homeownership dreams with a seamless, rewarding approach.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="why-chose-list style3">
                    <div class="list-one mb30">
                        <span class="list-icon flex-shrink-0 flaticon-garden mb20"></span>
                        <div class="list-content flex-grow-1">
                            <h6 class="mb-1">Our Vision</h6>
                            <p class="text mb-0 fz14">Guided by the principles of trust, respect, and integrity we
                                empower our clients to achieve
                                their dreams in property for sale, purchase, investment, or rental.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="why-chose-list style3">
                    <div class="list-one mb30">
                        <span class="list-icon flex-shrink-0 flaticon-secure-payment mb20"></span>
                        <div class="list-content flex-grow-1">
                            <h6 class="mb-1">Our Mission</h6>
                            <p class="text mb-0 fz14">To Provide the finest  real estate service to our customers, upholding the highest standards of integrity, ethics and customer care. JAM earns the loyalty  and trust of home sellers, home buyers, investors, and tenants who we want to become our lifelong clients and friends.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About Banner -->
<section class="our-about pt-0">
    <div class="container">
        <div class="row wow fadeInUp" data-wow-delay="300ms">
            <div class="col-lg-12">
                <div class="about-page-img">
                    <img class="w-100" src="https://via.placeholder.com/1170x500" alt="">
                </div>
            </div>
        </div>
        
      <div class="row">
        <div class="col-sm-6 wow fadeInLeft" data-wow-delay="00ms">
          <div class="iconbox-style3 text-center">
            <div class="icon">
              <img class="w-100" src="{% static 'jones/images/icon/property-buy-2.svg' %}" alt />
            </div>
            <div class="iconbox-content">
              <h4 class="title">Find a property</h4>
              <p class="text">Experience seamless leasing with JAM. Choose from curated properties, enjoy clear terms,
                online convenience, and responsive maintenance. Lease confidently for a comfortable and
                secure living environment.</p>
              <a href="{% url 'listing' %}" class="ud-btn btn-thm3">Find a home<i
                  class="fal fa-arrow-right-long"></i></a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 wow fadeInUp" data-wow-delay="300ms">
          <div class="iconbox-style3 active text-center">
            <div class="icon">
              <img class="w-100" src="{% static 'jones/images/icon/property-sell-2.svg' %}" alt />
            </div>
            <div class="iconbox-content">
              <h4 class="title">List a Property</h4>
              <p class="text">Unlock the potential of your property with our seamless property listing service, where
                turning your space into a valuable asset has never been easier.</p>
              <a href="{% url 'properties' %}" class="ud-btn btn-thm3">List Now<i
                  class="fal fa-arrow-right-long"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>






{% endblock %}