{% extends 'jones/base.html' %}
{% load static %}
{% block content %}


<div class="p-4 mb-5" style="background-color: #f9f9f9;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcumb-style1">
                    <div class="breadcumb-list">
                        <a href="{% url 'home' %}">Home</a>
                        <a href="javascript:void(0);">About Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Our About Area -->
<section class="our-about pb90">
    <div class="container">
        <div class="row wow fadeInUp" data-wow-delay="300ms">
            <div class="col-lg-6">
                <h2>At JAM, we are more than just a name we are a full-service property management
                    group that stands as a beacon of excellence in our local industry.</h2>
            </div>
            <div class="col-lg-6">
                <p class="text mb25">With a comprehensive range of services, we lead the way in Leasing, Renting,
                    Selling, and
                    expertly managing both residential and commercial properties. Our commitment to delivering
                    exceptional results and fostering enduring relationships sets us apart.</p>
                <p class="text mb55">Backed by a team of seasoned professionals, JAM brings a wealth of knowledge and
                    experience to every property endeavor. Whether you're seeking a new home, investing,
                    selling, or entrusting us with the management of your property, we are dedicated to
                    achieving your goals with precision and integrity.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="why-chose-list style3">
                    <div class="list-one mb30">
                        <span class="list-icon flex-shrink-0 flaticon-garden mb20"></span>
                        <div class="list-content flex-grow-1">
                            <h6 class="mb-1">Our Vision</h6>
                            <p class="text mb-0 fz14">Guided by the principles of trust, respect, and integrity we
                                empower our clients to achieve
                                their dreams in property for sale, purchase, investment, or rental.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="why-chose-list style3">
                    <div class="list-one mb30">
                        <span class="list-icon flex-shrink-0 flaticon-secure-payment mb20"></span>
                        <div class="list-content flex-grow-1">
                            <h6 class="mb-1">Our Mission</h6>
                            <p class="text mb-0 fz14">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                Molestias, earum tempore. At mollitia ipsa asperiores impedit possimus, architecto qui
                                reprehenderit!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About Banner -->
<section class="our-about pt-0">
    <div class="container">
        <div class="row wow fadeInUp" data-wow-delay="300ms">
            <div class="col-lg-12">
                <div class="about-page-img">
                    <img class="w-100" src="https://via.placeholder.com/1170x500" alt="">
                </div>
            </div>
        </div>
        
      <div class="row">
        <div class="col-sm-6 wow fadeInLeft" data-wow-delay="00ms">
          <div class="iconbox-style3 text-center">
            <div class="icon">
              <img class="w-100" src="{% static 'jones/images/icon/property-buy-2.svg' %}" alt />
            </div>
            <div class="iconbox-content">
              <h4 class="title">Find a property</h4>
              <p class="text">Experience seamless leasing with JAM. Choose from curated properties, enjoy clear terms,
                online convenience, and responsive maintenance. Lease confidently for a comfortable and
                secure living environment.</p>
              <a href="{% url 'listing' %}" class="ud-btn btn-thm3">Find a home<i
                  class="fal fa-arrow-right-long"></i></a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 wow fadeInUp" data-wow-delay="300ms">
          <div class="iconbox-style3 active text-center">
            <div class="icon">
              <img class="w-100" src="{% static 'jones/images/icon/property-sell-2.svg' %}" alt />
            </div>
            <div class="iconbox-content">
              <h4 class="title">List a Property</h4>
              <p class="text">Unlock the potential of your property with our seamless property listing service, where
                turning your space into a valuable asset has never been easier.</p>
              <a href="{% url 'properties' %}" class="ud-btn btn-thm3">List Now<i
                  class="fal fa-arrow-right-long"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<!-- Funfact -->
<section class="pt-0">
    <div class="container">
        <div class="row justify-content-center wow fadeInUp" data-wow-delay="300ms">
            <div class="col-md-4">
                <div class="funfact_one text-center">
                    <div class="details">
                        <ul class="ps-0 mb-0 d-flex justify-content-center">
                            <li>
                                <div class="timer">4</div>
                            </li>
                            <li><span>M</span></li>
                        </ul>
                        <p class="text mb-0">Awward Winning</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="funfact_one text-center">
                    <div class="details">
                        <ul class="ps-0 mb-0 d-flex justify-content-center">
                            <li>
                                <div class="timer">12</div>
                            </li>
                            <li><span>K</span></li>
                        </ul>
                        <p class="text mb-0">Property Ready</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="funfact_one text-center">
                    <div class="details">
                        <ul class="ps-0 mb-0 d-flex justify-content-center">
                            <li>
                                <div class="timer">20</div>
                            </li>
                            <li><span>M</span></li>
                        </ul>
                        <p class="text mb-0">Happy Customer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Our Agents -->
<section class="pt-0 pb80 pb50-md">
    <div class="container">
        <div class="row wow fadeInUp" data-wow-delay="300ms">
            <div class="col-lg-9 mx-auto text-center">
                <div class="main-title2">
                    <h2 class="title">Meet the driving force behind JAM</h2>
                    <p class="paragraph">A team of visionary entrepreneurs and experienced real estate professionals,
                        dedicated to
                        redefining property management through innovation and unparalleled service.</p>
                </div>
            </div>
        </div>
        <div class="row wow fadeInUp" data-wow-delay="300ms">
            <div class="col-auto">
                <div class="feature-style2 mb30">
                    <div class="feature-img"><img class="bdrs12" src="https://via.placeholder.com/210x240" alt=""></div>
                    <div class="feature-content pt20">
                        <h6 class="title mb-1">Abidh Ali</h6>
                        <p class="text fz15">Broker</p>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="feature-style2 mb30">
                    <div class="feature-img"><img class="bdrs12" src="https://via.placeholder.com/210x240" alt=""></div>
                    <div class="feature-content pt20">
                        <h6 class="title mb-1">Abidh Ali</h6>
                        <p class="text fz15">Broker</p>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="feature-style2 mb30">
                    <div class="feature-img"><img class="bdrs12" src="https://via.placeholder.com/210x240" alt=""></div>
                    <div class="feature-content pt20">
                        <h6 class="title mb-1">Abidh Ali</h6>
                        <p class="text fz15">Broker</p>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="feature-style2 mb30">
                    <div class="feature-img"><img class="bdrs12" src="https://via.placeholder.com/210x240" alt=""></div>
                    <div class="feature-content pt20">
                        <h6 class="title mb-1">Abidh Ali</h6>
                        <p class="text fz15">Broker</p>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="feature-style2 mb30">
                    <div class="feature-img"><img class="bdrs12" src="https://via.placeholder.com/210x240" alt=""></div>
                    <div class="feature-content pt20">
                        <h6 class="title mb-1">Abidh Ali</h6>
                        <p class="text fz15">Broker</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- CTA Banner -->
<section class="pt-0">
    <div
        class="cta-banner3 bgc-thm-light mx-auto maxw1600 pt100 pt60-lg pb90 pb60-lg bdrs24 position-relative overflow-hidden mx20-lg">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-5 pl30-md pl15-xs wow fadeInRight" data-wow-delay="500ms">
                    <div class="mb30">
                        <h2 class="title text-capitalize">Let’s find the right <br class="d-none d-md-block"> selling
                            option for you</h2>
                    </div>
                    <div class="why-chose-list style2">
                        <div class="list-one d-flex align-items-start mb30">
                            <span class="list-icon flex-shrink-0 flaticon-security"></span>
                            <div class="list-content flex-grow-1 ml20">
                                <h6 class="mb-1">Property Management</h6>
                                <p class="text mb-0 fz15">Nullam sollicitudin blandit eros eu pretium. Nullam maximus
                                    ultricies auctor.</p>
                            </div>
                        </div>
                        <div class="list-one d-flex align-items-start mb30">
                            <span class="list-icon flex-shrink-0 flaticon-keywording"></span>
                            <div class="list-content flex-grow-1 ml20">
                                <h6 class="mb-1">Mortgage Services</h6>
                                <p class="text mb-0 fz15">Nullam sollicitudin blandit eros eu pretium. Nullam maximus
                                    ultricies auctor.</p>
                            </div>
                        </div>
                        <div class="list-one d-flex align-items-start mb30">
                            <span class="list-icon flex-shrink-0 flaticon-investment"></span>
                            <div class="list-content flex-grow-1 ml20">
                                <h6 class="mb-1">Currency Services</h6>
                                <p class="text mb-0 fz15">Nullam sollicitudin blandit eros eu pretium. Nullam maximus
                                    ultricies auctor.</p>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="ud-btn btn-dark">Learn More<i class="fal fa-arrow-right-long"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Our Partners -->
<!-- <section class="our-partners p-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 wow fadeInUp" data-wow-delay="100ms">
                <div class="main-title text-center">
                    <h6>Trusted by the world’s best</h6>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="dots_none nav_none slider-dib-sm slider-6-grid owl-carousel owl-theme wow fadeInUp"
                    data-wow-delay="300ms">
                    <div class="item">
                        <div class="partner_item"><img class="wa m-auto"
                                src="{% static 'jones/images/partners/1.png' %}" alt="1.png' %}"></div>
                    </div>
                    <div class="item">
                        <div class="partner_item"><img class="wa m-auto"
                                src="{% static 'jones/images/partners/2.png' %}" alt="2.png' %}"></div>
                    </div>
                    <div class="item">
                        <div class="partner_item"><img class="wa m-auto"
                                src="{% static 'jones/images/partners/3.png' %}" alt="3.png' %}"></div>
                    </div>
                    <div class="item">
                        <div class="partner_item"><img class="wa m-auto"
                                src="{% static 'jones/images/partners/4.png' %}" alt="4.png' %}"></div>
                    </div>
                    <div class="item">
                        <div class="partner_item"><img class="wa m-auto"
                                src="{% static 'jones/images/partners/5.png' %}" alt="5.png' %}"></div>
                    </div>
                    <div class="item">
                        <div class="partner_item"><img class="wa m-auto"
                                src="{% static 'jones/images/partners/6.png' %}" alt="6.png' %}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- Our CTA -->
<section class="our-cta">
    <div class="cta-banner bgc-f7 mx-auto maxw1600 pt120 pb120 pt60-md pb60-md bdrs12 position-relative mx20-lg">
        <div class="img-box-5">
            <img class="img-1 spin-right" src="{% static 'jones/images/about/element-1.png' %}" alt="">
        </div>
        <div class="img-box-6">
            <img class="img-1 spin-left" src="{% static 'jones/images/about/element-1.png' %}" alt="">
        </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 col-xl-6 wow fadeInLeft">
                    <div class="cta-style1">
                        <h2 class="cta-title">Need help? Talk to our expert.</h2>
                        <p class="cta-text mb-0">Talk to our experts or Browse through more properties.</p>
                    </div>
                </div>
                <div class="col-lg-5 col-xl-6 wow fadeInRight" data-wow-delay="300ms">
                    <div class="cta-btns-style1 d-block d-sm-flex align-items-center justify-content-lg-end">
                        <a href="#" class="ud-btn btn-transparent mr30 mr0-xs">Contact Us<i
                                class="fal fa-arrow-right-long"></i></a>
                        <a href="#" class="ud-btn btn-dark"><span class="flaticon-call vam pe-2"></span>920 851 9087</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}