{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, rerum." />
    <meta name="description" content />
    <meta name="CreativeLayers" content="ATFN" />

    <link rel="stylesheet" href="{% static 'jones/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'jones/css/jquery-ui.min.css' %}" />
    <link rel="stylesheet" href="{% static 'jones/css/ace-responsive-menu.css' %}" />
    <link rel="stylesheet" href="{% static 'jones/css/menu.css' %}" />
    <link rel="stylesheet" href="{% static 'jones/css/fontawesome.css' %}" />
    <link rel="stylesheet" href="{% static 'jones/css/flaticon.css' %}" />
    <link rel="stylesheet" href="{% static 'jones/css/bootstrap-select.min.css' %}" />
    <link rel="stylesheet" href="{% static 'jones/css/magnific-popup.css' %}" />
    <link rel="stylesheet" href="{% static 'jones/css/animate.css' %}" />
    <link rel="stylesheet" href="{% static 'jones/css/slider.css' %}" />
    <link rel="stylesheet" href="{% static 'jones/css/ud-custom-spacing.css' %}" />
    <link rel="stylesheet" href="{% static 'jones/css/style.css' %}" />
    {% block style %}{% endblock style %}

    <link rel="stylesheet" href="{% static 'jones/css/responsive.css' %}" />

    <title>Jones Asset Management</title>

    <link href="{% static 'jones/images/fav.ico' %}" sizes="128x128" rel="shortcut icon" type="image/x-icon" />
    <link href="{% static 'jones/images/fav.ico' %}" sizes="128x128" rel="shortcut icon" />

    <link href="{% static 'jones/images/fav.ico' %}" sizes="60x60" rel="apple-touch-icon" />
    <link href="{% static 'jones/images/fav.ico' %}" sizes="72x72" rel="apple-touch-icon" />
    <link href="{% static 'jones/images/fav.ico' %}" sizes="114x114" rel="apple-touch-icon" />
    <link href="{% static 'jones/images/fav.ico' %}" sizes="180x180" rel="apple-touch-icon" />
</head>

<body>
    <div class="wrapper ovh">
        <div class="preloader"></div>

        <header class="header-nav nav-homepage-style at-home2 stricky main-menu">
            <nav class="posr">
                <div class="container maxw1600 posr">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="logos mr35">
                                    <a class="header-logo logo1" href="{% url 'home' %}"><img
                                            src="{% static 'jones/images/logo.png' %}" alt="Header Logo" /></a>
                                    <a class="header-logo logo2" href="{% url 'home' %}"><img
                                            src="{% static 'jones/images/logo.png' %}" alt="Header Logo" /></a>
                                </div>

                                <ul id="respMenu" class="ace-responsive-menu" data-menu-style="horizontal">
                                    <li class="visible_list">
                                        <a class="list-item" href="{% url 'home' %}"><span class="title">Home</span></a>
                                    </li>
                                    <li class="visible_list">
                                        <a class="list-item" href="{% url 'listing' %}"><span
                                                class="title">Find a
                                                Property</span></a>
                                    </li>
                                    <li class="visible_list">
                                        <a class="list-item" href="{% url 'properties' %}"><span class="title">List a
                                                Property</span></a>
                                    </li>
                                    <li class="visible_list">
                                        <a class="list-item" href="{% url 'service' %}"><span class="title">Services</span></a>
                                    </li>
                                    <li class="visible_list">
                                        <a class="list-item" href="{% url 'interiors' %}"><span
                                                class="title">Jones Interiors</span></a>
                                    </li>
                                    <li class="visible_list">
                                        <a class="list-item" href="{% url 'about' %}"><span class="title">About
                                                Us</span></a>
                                    </li>
                                    <li class="visible_list">
                                        <a class="list-item" href="{% url 'real-estate-guide' %}"><span class="title">Real Estate Guide</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="d-flex align-items-center">
                                <a class="ud-btn add-property menu-btn bdrs60 mx-2 mx-xl-4"
                                    href="{% url 'contact' %}">Contact Us<i class="fal fa-arrow-right-long"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <div id="page" class="mobilie_header_nav stylehome1">
            <div class="mobile-menu">
                <div class="header innerpage-style">
                    <div class="menu_and_widgets">
                        <div class="mobile_menu_bar d-flex justify-content-between align-items-center">
                            <a class="menubar" href="#menu"><img src="{% static 'jones/images/logo.png' %}" alt /></a>
                            <a class="mobile_logo" href="#"><img src="{% static 'jones/images/logo.png' %}" alt /></a>
                            <a href="#"><span class="icon fz18 far fa-user-circle"></span></a>
                        </div>
                    </div>
                </div>
            </div>

            <nav id="menu" class>
                <ul>
                    <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'listing' %}">Find a Property</a>
                    </li>
                    <li>
                        <a href="{% url 'properties' %}">List a Property</a>
                    </li>
                    <li>
                        <a href="{% url 'service' %}">Services</a>
                    </li>
                    <li>
                        <a href="{% url 'about' %}">About Us</a>
                    </li>
                    <li>
                        <a href="{% url 'real-estate-guide' %}">Real Estate Guide</a>
                    </li>
                    <li>
                        <a href="{% url 'interiors' %}">Jones Interiors</a>
                    </li>
                    <li>
                        <a href="{% url 'contact' %}">Contact Us</a>
                    </li>
                    <li class="px-3 mobile-menu-btn">
                        <a href="#" class="ud-btn btn-thm text-white">Submit Property<i
                                class="fal fa-arrow-right-long"></i></a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="body_content">

            {% comment %} dynamic content starts {% endcomment %}
            {% block content %}{% endblock %}

            {% comment %} dynamic content ends {% endcomment %}


            <section class="footer-style1 at-home2 pb-0 pt-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="footer-widget mb-4 mb-lg-5">
                                <a class="footer-logo" href="{% url 'home' %}"><img class="mb40"
                                        src="{% static 'jones/images/logo.png' %}" alt
                                        style="background: white;border-radius: 20px;padding: 20px;" /></a>
                                <div class="row mb-4 mb-lg-5">
                                    <div class="col-auto">
                                        <div class="contact-info">
                                            <p class="info-title">Customer Care</p>
                                            <h6 class="info-phone">
                                                <a href="+918139928888">+91 813 992 8888</a>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <div class="contact-info">
                                            <p class="info-title">Need Live Support?</p>
                                            <h6 class="info-mail">
                                                <a href="mailto:info@jonesasset.com"><span
                                                        class="__cf_email__">info@jonesasset.com</span></a>
                                            </h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="social-widget">
                                    <h6 class="text-white mb20">Follow us on social media</h6>
                                    <div class="social-style1">
                                        <a href="https://www.facebook.com/jonesassetmanagement"><i class="fab fa-facebook-f list-inline-item"></i></a>
                                        <a href="https://www.instagram.com/jonesasset/"><i class="fab fa-instagram list-inline-item"></i></a>
                                        <a href="https://in.linkedin.com/company/jonesassetmanagement"><i class="fab fa-linkedin-in list-inline-item"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="footer-widget mb-4 mb-lg-5">
                                <div class="mailchimp-widget mb-4 mb-lg-5">
                                    <h6 class="title text-white mb20">
                                        Subscribe to the Newsletter
                                    </h6>
                                    <div class="mailchimp-style1">
                                        <input type="email" class="form-control" placeholder="Your Email" />
                                        <button type="submit">Subscribe</button>
                                    </div>
                                </div>
                                <div class="row justify-content-around">
                                    <!-- <div class="col-auto">
                                        <div class="link-style1 mb-3">
                                            <h6 class="text-white mb25">Popular Search</h6>
                                            <div class="link-list">
                                                <a href>Apartment for Rent</a>
                                                <a href>Apartment Low to hide</a>
                                                <a href>Offices for Buy</a>
                                                <a href>Offices for Rent</a>
                                            </div>
                                        </div>
                                    </div> -->
                                    <div class="col-auto">
                                        <div class="link-style1 mb-3">
                                            <!-- <h6 class="text-white mb25">Quick Links</h6> -->
                                            <ul class="ps-0">
                                                <li><a href>Terms & Conditions</a></li>
                                                <li><a href>Privacy Policy</a></li>
                                                <li><a href>Our Services</a></li>
                                                <li><a href>Contact Us</a></li>
                                                <li><a href>Careers</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <div class="link-style1 mb-3">
                                            <!-- <h6 class="text-white mb25">Discover</h6> -->
                                            <ul class="ps-0">
                                                <li><a href>BTM Layout</a></li>
                                                <li><a href>Mg Road</a></li>
                                                <li><a href>Koramangala</a></li>
                                                <li><a href>Kammanahalli</a></li>
                                                <li><a href>KR Puram</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container white-bdrt1 py-4">
                    <div class="row justify-content-center">
                        <div class="text-center text-lg-start">
                            <p class="copyright-text text-gray ff-heading text-center">
                                © Jones Asset Management - All rights reserved
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <a class="scrollToHome" href="#"><i class="fas fa-angle-up"></i></a>
        </div>
    </div>

    <script src="{% static 'jones/js/jquery-3.6.4.min.js' %}"></script>
    <script src="{% static 'jones/js/jquery-migrate-3.0.0.min.js' %}"></script>
    <script src="{% static 'jones/js/popper.min.js' %}"></script>
    <script src="{% static 'jones/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'jones/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'jones/js/jquery.mmenu.all.js' %}"></script>
    <script src="{% static 'jones/js/ace-responsive-menu.js' %}"></script>
    <script src="{% static 'jones/js/jquery-scrolltofixed-min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"
        integrity="sha512-IsNh5E3eYy3tr/JiX2Yx4vsCujtkhwl7SLqgnwLNgf04Hrt9BT9SXlLlZlWx+OK4ndzAoALhsMNcCmkggjZB1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'jones/js/wow.min.js' %}"></script>
    <script src="{% static 'jones/js/owl.js' %}"></script>
    <script src="{% static 'jones/js/parallax.js' %}"></script>

    <script src="{% static 'jones/js/script.js' %}"></script>
    {% block script %}{% endblock script %}
</body>

</html>