{% extends 'jones/base.html' %}
{% load static %}
{% block content %}
<div class="p-4 mb-5" style="background-color: #f9f9f9;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcumb-style1">
                    <div class="breadcumb-list">
                        <a href="{% url 'home' %}">Home</a>
                        <a href="javascript:void(0);">Jones Interiors</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="pt-0">
    <div
        class="cta-banner3 bgc-thm-light mx-auto maxw1600 pt50 pb50 bdrs24 position-relative overflow-hidden mx20-lg">
        <div class="container">
            <div class="row">
                <div class="col-md-12
                 col-lg-12 pl30-md pl15-xs wow fadeInRight" data-wow-delay="500ms"
                    style="visibility: visible; animation-delay: 500ms; animation-name: fadeInRight;">
                    <div class="mb30">
                        <h2 class="title text-capitalize">Jones Interiors</h2>
                        <p>Established in 2022, we are at the forefront of interior design firms in Bangalore. Being an
                            extension of JAM, we further solidify our commitment to exceptional design.</p>
                    </div>
                    <div class="why-chose-list style2">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="list-one d-flex align-items-start mb30">
                                    <span class="list-icon flex-shrink-0 flaticon-security"></span>
                                    <div class="list-content flex-grow-1 ml20">
                                        <h6 class="mb-1">Project Management Consultancy</h6>
                                        <p class="text mb-0 fz15">We offer comprehensive end-to-end services
                                            that streamline every aspect of your project. Our expertise ensures seamless
                                            execution from inception to completion.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="list-one d-flex align-items-start mb30">
                                    <span class="list-icon flex-shrink-0 flaticon-keywording"></span>
                                    <div class="list-content flex-grow-1 ml20">
                                        <h6 class="mb-1">Interior Designing</h6>
                                        <p class="text mb-0 fz15">Offering intricate 3D visualization and meticulous
                                            2D
                                            planning,
                                            we bring spaces to life through innovative and immersive design
                                            solutions.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="list-one d-flex align-items-start mb30">
                                    <span class="list-icon flex-shrink-0 flaticon-investment"></span>
                                    <div class="list-content flex-grow-1 ml20">
                                        <h6 class="mb-1">Vendor Management </h6>
                                        <p class="text mb-0 fz15">By seamlessly coordinating and overseeing the
                                            supply and
                                            management of vendors dedicated to the art of interior design, we ensure
                                            a
                                            seamless and efficient execution of your design vision.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="list-one d-flex align-items-start mb30">
                                    <span class="list-icon flex-shrink-0 flaticon-investment"></span>
                                    <div class="list-content flex-grow-1 ml20">
                                        <h6 class="mb-1">Execute Interior </h6>
                                        <p class="text mb-0 fz15">Our expertise encompasses both conceptualization
                                            and
                                            implementation, ensuring seamless and captivating interiors that
                                            redefine spaces.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="list-one d-flex align-items-start mb30">
                                    <span class="list-icon flex-shrink-0 flaticon-investment"></span>
                                    <div class="list-content flex-grow-1 ml20">
                                        <h6 class="mb-1">Interior styling a detailing </h6>
                                        <p class="text mb-0 fz15">Beyond the execution of on-site interiors, we
                                            meticulously attend to every intricate detail, from fixtures to
                                            artifacts, ensuring
                                            an
                                            exquisite and refined outcome.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pt0 pb40-md">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-xl-8 col-xxl-7 offset-xxl-1">
                <div class="position-relative mb35 mb0-sm wow fadeInLeft" data-wow-delay="300ms"
                    style="visibility: visible; animation-delay: 300ms; animation-name: fadeInLeft;">
                    <div class="img-box-1 list-inline-item me-0">
                        <img class="img-1" src="{% static 'jones/images/about/about-1.jpg' %}" alt="" />
                    </div>
                    <div class="img-box-2 list-inline-item me-0">
                        <img class="img-1" src="{% static 'jones/images/about/about-2.jpg' %}" alt="" />
                    </div>
                    {% comment %} <div class="img-box-3">
                        <img class="img-1 bounce-y" src="{% static 'jones/images/about/about-1.png' %}" alt="" />
                    </div> {% endcomment %}
                    <div class="img-box-4">
                        <img class="img-1 spin-right" src="{% static 'jones/images/about/element-1.png' %}" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4">
                <div class="about-box-1 wow fadeInRight" data-wow-delay="300ms"
                    style="visibility: visible; animation-delay: 300ms; animation-name: fadeInRight;">
                    <h2 class="title mb30">Why Jones Interiors?</h2>
                    <p class="text mb25 fz15">As the complexity of buildings to increase, the field of architecture</p>
                    <div class="list-style1 mb50">
                        <ul>
                            <li class="flex-column align-items-start">
                                <div>
                                    <i class="far fa-check text-white bgc-dark fz15"></i>Find excellent deals
                                </div>
                                <div>
                                    <p>
                                        Procuring directly from manufacturers enables us to
                                        significantly reduce costs by bypassing intermediary dealers.
                                    </p>
                                </div>
                            </li>
                            <li class="flex-column align-items-start">
                                <div>
                                    <i class="far fa-check text-white bgc-dark fz15"></i>Network of vendors
                                </div>
                                <div>
                                    <p>
                                        Benefit from our network of 380+ registered vendors,
                                        exclusively available under our company's terms, setting us apart from the rest.
                                    </p>
                                </div>
                            </li>
                            <li class="flex-column align-items-start">
                                <div>
                                    <i class="far fa-check text-white bgc-dark fz15"></i>Offer the latest products
                                </div>
                                <div>
                                    <p>
                                        With an unwavering commitment to staying at the
                                        forefront, we pride ourselves on staying consistently updated with the latest
                                        innovations, ensuring your spaces exude contemporary excellence.
                                    </p>k
                                </div>
                            </li>
                        </ul>

                        <a href="{% url 'contact' %}" class="ud-btn btn-white slider-btn">Contact Us<i
                                class="fal fa-arrow-right-long pr-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}