{% extends 'jones/base.html' %}
{% load static %}
{% block content %}


<div class="p-4 mb-5" style="background-color: #f9f9f9;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcumb-style1">
                    <div class="breadcumb-list">
                        <a href="{% url 'home' %}">Home</a>
                        <a href="javascript:void(0);">Services</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Our About Area -->
<section class="our-about pb90">
    <div class="container">
        <div class="row wow fadeInUp" data-wow-delay="300ms">
            <div class="col-lg-5">
                <img src="https://via.placeholder.com/450x600" alt="">
            </div>
            <div class="col-lg-7 d-flex justify-content-center align-items-start flex-column">
                <h1>Leasing</h1>
                <h4>At JAM, our goal is to simplify the leasing process for both property owners and
                    prospective
                    tenants. </h4>
                <p class="text mb25">
                    With our extensive network and in-depth market knowledge of Bengaluru, we match
                    qualified tenants with the perfect properties, ensuring a seamless and efficient experience
                    for all parties involved.
                </p>
                <p class="text mb55">
                    We understand that each property is unique, and we work diligently to showcase its features
                    and amenities, attracting the right tenants who will truly appreciate and care for your
                    investment. Whether you're a property owner looking to fill a vacancy or a tenant searching
                    for your ideal home, JAM's Leasing services are designed to save you time, reduce stress,
                    and make the leasing journey a smooth and successful one. Join us today and let us take
                    care of the details while you enjoy the rewards of property ownership or find the perfect
                    place to call home. The best part is that the tenants get their leasing amount back 2 days
                    prior to the end of the leasing tenure, to ensure zero hindrance in transactions.</p>
            </div>
        </div>
    </div>
</section>
<section class="our-about pt-0">
    <div class="container">
        <div class="row wow fadeInUp" data-wow-delay="300ms">
            <div class="col-lg-7 d-flex justify-content-center align-items-start flex-column">
                <h1>Rental</h1>
                <h4>Welcome to the Rental solution at JAM! If you're a property owner in Bengaluru seeking a hassle-free and lucrative way to monetize your property, or a tenant looking for a dream rental property, our Rental service is tailor-made for you.</h4>
                <p class="text mb25">
                    With JAM's expertise in property management and tenant relations, we take care of all the complexities involved in renting a property, allowing a steady rental income for the owners while tenants wouldn't have to deal with constant payment reminders. Our team of professionals excels at identifying and securing reliable tenants, ensuring that your property remains in excellent condition throughout the rental period. Whether you're a seasoned investor or a first-time landlord, JAM's Rental service streamlines the entire process, letting you reap the benefits of property ownership without the usual stress. Join us in maximizing your property's potential today!
                </p>
            </div>
            <div class="col-lg-5">
                <img src="https://via.placeholder.com/450x600" alt="">
            </div>
            
        </div>
    </div>
</section>


<!-- Our About Area -->
<section class="our-about pt-0">
    <div class="container">
        <div class="row wow fadeInUp" data-wow-delay="300ms">
            <div class="col-lg-5">
                <img src="https://via.placeholder.com/450x600" alt="">
            </div>
            <div class="col-lg-7 d-flex justify-content-center align-items-start flex-column">
                <h1>Sell</h1>
                <h4>Own a property in Bengaluru and looking to sell it for a great return? Worry not. When it comes to selling your property, our expert team is here to guide you through every step of the process. </h4>
                <p class="text mb25">
                    We understand that selling a property can be a significant decision, and our tailored approach ensures that you achieve the best possible outcome. From market analysis and pricing strategy to staging, marketing, and negotiations, JAM's experienced professionals are dedicated to maximizing the value of your property and securing a seamless sale.
                </p>
                <p class="text mb55">
                    Our comprehensive support, combined with our in-depth knowledge of the real estate market, allows you to navigate the selling journey with confidence and peace of mind. Trust JAM to be your partner in achieving a successful and profitable property sale. Your goals are our priority, and we're committed to delivering results that exceed your expectations.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}