{% extends 'administrator/base.html' %}
{% load static %}
{% block content %}

<div class="col-lg-12">
  <div class="col-lg-12">
    <div class="dashboard_title_area">
      <h2>Hello, Admin!</h2>
      <p class="text">We are glad to see you again!</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-xxl-3">
    <div class="d-flex justify-content-between statistics_funfact">
      <div class="details">
        <div class="text fz25">All Properties</div>
        <div class="title">583</div>
      </div>
      <div class="icon text-center"><i class="flaticon-home"></i></div>
    </div>
  </div>
  <div class="col-sm-6 col-xxl-3">
    <div class="d-flex justify-content-between statistics_funfact">
      <div class="details">
        <div class="text fz25">Total Views</div>
        <div class="title">192</div>
      </div>
      <div class="icon text-center"><i class="flaticon-search-chart"></i></div>
    </div>
  </div>
  <div class="col-sm-6 col-xxl-3">
    <div class="d-flex justify-content-between statistics_funfact">
      <div class="details">
        <div class="text fz25">Total Visitor Reviews</div>
        <div class="title">438</div>
      </div>
      <div class="icon text-center"><i class="flaticon-review"></i></div>
    </div>
  </div>
  <div class="col-sm-6 col-xxl-3">
    <div class="d-flex justify-content-between statistics_funfact">
      <div class="details">
        <div class="text fz25">Total Favorites</div>
        <div class="title">67</div>
      </div>
      <div class="icon text-center"><i class="flaticon-like"></i></div>
    </div>
  </div>
</div>
{% endblock content %}